body{
	width: 700px;
	margin: auto;
	padding: 20px;
	text-align: center;
}

.box{
	width: 50px;
	height: 50px;
	border: 1px dashed #000;
	float: left;
	display: block;
	padding: 10px;
	margin: 10px;
}

#input{
	padding: 5px;
	margin: 20px;
}

#addcolors{
	padding:50px;
	margin: 20px;
}

#controls{
	margin-bottom: 20px;
	padding:20px;
	border-bottom: dashed 1px #000;
}

.border{
	border: 1px #000 solid;
	border-radius: 100px;
}

span{
	padding: 5px;
	font-size: 50px;
	border:1px #000 dashed;
	margin-bottom: 40px; 
}